<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário Machadinhense - {{page_title}}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    {{> header}}

    <main>
        <div class="content">
            {{#block "content"}}
                <h2>Página Padrão</h2>
                <p>Conteúdo não definido.</p>
            {{/block}}
        </div>
    </main>

    {{> footer}}

    <script src="/static/js/main.js"></script>
</body>
</html>